        body, html {  
        font-family: 'Inter', sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
        height: 100%; /* Para ocupar toda a tela */
        overflow-x: hidden; /* Evita a rolagem horizontal */
        }
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #f8f8f8;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            position: sticky;
            top: 0;
            z-index: 1000;
        }
        nav ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
            gap: 60px;
        }
        nav a {
            text-decoration: none;
            color: #000;
            padding: 5px 40px;
            transition: background-color 0.3s;
        }
        nav a:hover {
            background-color: #e0e0e0;
            border-radius: 5px;
        }
        nav .dropdown {
            display: none;
            position: absolute;
            background: #fff;
            border: 1px solid #ccc;
            padding: 10px;
            z-index: 50;
            width: 200px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        nav li {
            position: relative;
        }
        nav li:hover .dropdown {
            display: block;
        }
        .main-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 120vh; /* Ocupar a maior parte da tela */
            padding: 40px;
        }
        #agendar, #conectar{
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #04a2eb;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
            transition: all 0.3s;
        }
        #cadastrar {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #04a2eb;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
            transition: all 0.3s;
        }
        #agendar:hover, #conectar:hover, #cadastrar:hover {
            box-shadow: 0 0 20px rgba(0, 0, 255, 1);
        }
        #logo {
            width: 300px; /* Ajuste o tamanho conforme necessário */
            height: auto; /* Mantém a proporção */
            display: inline-block;
            vertical-align: middle; /* Alinha o logo com o texto */
        }
        #main-image {
            width: 100%;
            max-width: 1300px;
            margin: 30px auto;
            display: block;
        }
        .image-size-control {
            width: 100%;
            max-width: 900px;
            height: auto;
        }
        .separator-line {
            width: 80%;
            height: 9px;
            background-color: #ccc;
            margin: 50px auto;
        }
        .info-section {
            margin: 20px auto;
            max-width: 880px;
            text-align: left;
            padding: 0 10px;
        }
        footer {
            padding: 20px;
            background-color: #f8f8f8;
            text-align: center;
            margin-top: 50px;
            font-size: 14px;
            color: #777;
        }
